
<div class="row">
<h1>Willkommen</h1>
It's <%= Time.now %>
<br>
<h4>Wir haben <%= pluralize(@total_challenges, "Challenge") %>.<h4>
<%= controller_name %>
<br>

<%= link_to 'Challenges anzeigen', challenges_path , :class => "button" %>
</div>