.content_box{
  z-index: 9;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(135deg, #A77C2A, #4C180F);
}

.color_overlay{
  z-index: 9;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(135deg, #A77C2A, #4C180F);
}